In [1]:
import numpy as np
import pandas as pd

import os
for dirname, _, filenames in os.walk('./inputs/'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

./inputs/sample_submission.csv
./inputs/test.csv
./inputs/train.csv
./inputs/training_extra.csv

In [2]:
training_extra = pd.read_csv("./inputs/training_extra.csv")
training_extra

,id,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg),Price
0,500000,Under Armour,Canvas,Small,10.0,Yes,Yes,Tote,Blue,23.882052,114.11068
1,500001,Puma,Polyester,Small,4.0,No,Yes,Backpack,Green,11.869095,129.74972
2,500002,Jansport,Polyester,Small,8.0,Yes,Yes,Tote,Red,8.092302,21.37370
3,500003,Nike,Nylon,Large,7.0,No,No,Messenger,Pink,7.719581,48.09209
4,500004,Nike,Leather,Large,9.0,No,Yes,Tote,Green,22.741826,77.32461
...,...,...,...,...,...,...,...,...,...,...,...
3694313,4194313,Nike,Canvas,NaN,3.0,Yes,Yes,Messenger,Blue,28.098120,104.74460
3694314,4194314,Puma,Leather,Small,10.0,Yes,Yes,Tote,Blue,17.379531,122.39043
3694315,4194315,Jansport,Canvas,Large,10.0,No,No,Backpack,Red,17.037708,148.18470
3694316,4194316,Puma,Canvas,NaN,2.0,No,No,Backpack,Gray,28.783339,22.32269
3694317,4194317,Under Armour,Polyester,Medium,2.0,Yes,No,Backpack,Blue,23.076169,107.61199

In [3]:
unique_values = training_extra["Brand"].unique()
unique_values

array(['Under Armour', 'Puma', 'Jansport', 'Nike', 'Adidas', nan],
      dtype=object)

In [4]:
training_extra.columns

Index(['id', 'Brand', 'Material', 'Size', 'Compartments', 'Laptop Compartment',
       'Waterproof', 'Style', 'Color', 'Weight Capacity (kg)', 'Price'],
      dtype='object')

In [5]:
brand = training_extra[training_extra["Brand"].notnull()]
material = brand[brand["Material"].notnull()]
size = material[material["Size"].notnull()]
laptop = size[size["Laptop Compartment"].notnull()]
waterproof = laptop[laptop["Waterproof"].notnull()]
style = waterproof[waterproof["Style"].notnull()]
color = style[style["Color"].notnull()]
no_missing = color[color["Weight Capacity (kg)"].notnull()]
no_missing

,id,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg),Price
0,500000,Under Armour,Canvas,Small,10.0,Yes,Yes,Tote,Blue,23.882052,114.11068
1,500001,Puma,Polyester,Small,4.0,No,Yes,Backpack,Green,11.869095,129.74972
2,500002,Jansport,Polyester,Small,8.0,Yes,Yes,Tote,Red,8.092302,21.37370
3,500003,Nike,Nylon,Large,7.0,No,No,Messenger,Pink,7.719581,48.09209
4,500004,Nike,Leather,Large,9.0,No,Yes,Tote,Green,22.741826,77.32461
...,...,...,...,...,...,...,...,...,...,...,...
3694311,4194311,Puma,Polyester,Medium,4.0,Yes,Yes,Messenger,Pink,28.425845,107.18468
3694312,4194312,Jansport,Polyester,Large,6.0,Yes,Yes,Backpack,Red,16.641739,31.52978
3694314,4194314,Puma,Leather,Small,10.0,Yes,Yes,Tote,Blue,17.379531,122.39043
3694315,4194315,Jansport,Canvas,Large,10.0,No,No,Backpack,Red,17.037708,148.18470
3694317,4194317,Under Armour,Polyester,Medium,2.0,Yes,No,Backpack,Blue,23.076169,107.61199

In [6]:
len(training_extra) - len(no_missing)

652501

In [7]:
# Find rows in df1 that are NOT in df2
diff_df1 = training_extra[~training_extra.apply(tuple, axis=1).isin(no_missing.apply(tuple, axis=1))]
diff_df1

,id,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg),Price
5,500005,Adidas,Polyester,Medium,5.0,No,No,Tote,NaN,18.834692,35.99599
12,500012,Under Armour,Nylon,Medium,1.0,NaN,No,Messenger,Pink,18.462269,130.22309
21,500021,Jansport,Leather,Small,7.0,NaN,Yes,Backpack,Red,13.923496,17.20743
22,500022,NaN,Nylon,Large,5.0,No,No,Tote,Pink,23.626700,42.40687
26,500026,NaN,Polyester,Large,7.0,Yes,No,Messenger,Red,5.000000,139.71219
...,...,...,...,...,...,...,...,...,...,...,...
3694294,4194294,NaN,Nylon,Large,6.0,No,No,Messenger,Black,22.170745,60.09724
3694308,4194308,Adidas,NaN,Large,5.0,Yes,Yes,Messenger,Gray,12.370109,18.99152
3694310,4194310,Adidas,Nylon,Small,10.0,No,NaN,Tote,Red,22.959725,128.51754
3694313,4194313,Nike,Canvas,NaN,3.0,Yes,Yes,Messenger,Blue,28.098120,104.74460
3694316,4194316,Puma,Canvas,NaN,2.0,No,No,Backpack,Gray,28.783339,22.32269