In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import root_mean_squared_error

In [6]:
target = pd.read_csv("./inputs/train.csv")["Price"]
target

0         112.15875
1          68.88056
2          39.17320
3          80.60793
4          86.02312
            ...
299995    129.99749
299996     19.85819
299997    111.41364
299998    115.89080
299999     26.72762
Name: Price, Length: 300000, dtype: float64

In [4]:
%store -r data
data

,id,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg)
0,0,1.0,1.0,1.0,7.0,1.0,0.0,2.0,0.0,11.611723
1,1,1.0,0.0,2.0,10.0,1.0,1.0,1.0,3.0,27.078537
2,2,4.0,1.0,2.0,2.0,1.0,0.0,1.0,5.0,16.643760
3,3,2.0,2.0,2.0,8.0,1.0,0.0,1.0,3.0,12.937220
4,4,0.0,0.0,1.0,1.0,1.0,1.0,1.0,3.0,17.749338
...,...,...,...,...,...,...,...,...,...,...
299995,299995,0.0,1.0,2.0,9.0,0.0,0.0,2.0,1.0,12.730812
299996,299996,1.0,1.0,0.0,6.0,0.0,1.0,2.0,1.0,26.633182
299997,299997,3.0,0.0,0.0,9.0,1.0,1.0,0.0,4.0,11.898250
299998,299998,0.0,2.0,2.0,1.0,0.0,1.0,2.0,4.0,6.175738
299999,299999,4.0,0.0,2.0,2.0,0.0,1.0,0.0,0.0,18.568865

In [10]:
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.2, random_state=42)

,id,Brand,Material,Size,Compartments,Laptop Compartment,Waterproof,Style,Color,Weight Capacity (kg)
254099,254099,2.0,1.0,1.0,1.0,1.0,0.0,0.0,2.0,27.294880
53461,53461,3.0,NaN,0.0,9.0,1.0,1.0,1.0,1.0,8.574545
247984,247984,0.0,0.0,1.0,8.0,1.0,0.0,1.0,0.0,11.502436
209067,209067,4.0,3.0,1.0,3.0,0.0,0.0,0.0,0.0,9.433317
185997,185997,3.0,2.0,2.0,8.0,0.0,1.0,0.0,0.0,8.971236
...,...,...,...,...,...,...,...,...,...,...
119879,119879,1.0,2.0,0.0,7.0,0.0,0.0,NaN,2.0,19.605766
259178,259178,3.0,0.0,0.0,10.0,1.0,1.0,0.0,4.0,15.055192
131932,131932,3.0,3.0,0.0,10.0,0.0,1.0,0.0,0.0,14.794693
146867,146867,0.0,2.0,0.0,5.0,0.0,0.0,2.0,1.0,21.067675
121958,121958,0.0,2.0,2.0,8.0,0.0,1.0,NaN,2.0,13.735199

In [11]:
model = RandomForestRegressor(n_estimators=100, max_depth=5, random_state=42)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
mean = root_mean_squared_error(y_test, y_pred)
print(mean)

38.91530577556279